<footer class="d-flex flex-wrap justify-content-between align-items-center my-2 w-75 mx-auto">
    <a href="/home"><img src="/img/logo-p.png"></a>
    <div>Termes et Conditions - Confidentialité - À propos - Nous contacter</div>
    <div><img src="/img/socialSkieur.png" alt=""></div>
</footer>
</body>

</html>