<%- include("partials/header") -%>

<main class="mando">

        <div class="container d-flex justify-content-center align-items-center">
            <div class="box-error d-flex justify-content-center align-items-center">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-6"><img src="/img/stuck.jpg" alt="ami ajouté"></div>
                    <div class="col-6 ">
                        <p>OOPS! Une erreur s'est produite! <br>
                            Recommencez svp!</p>
                    </div>
                   
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <div class="box-connexion d-flex flex-column align-items-center justify-content-evenly">
                        <img src="/img/ico-1.png" alt="icon">
                        <div><span>Bienvenue !</span><br>
                            Envie de découvrir de nouveaux spots de ski de randonnée ?<br>
                            Ou de partager les vôtres ?<br> <br>

                            Rejoint-nous!</div>
                        <span><a href="/signup"><button type="submit">S'inscrire</button></a>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <div class="box-connexion d-flex flex-column align-items-center justify-content-evenly">
                        <img src="/img/ico-2.png" alt="icon">
                        <div><span>Vous êtes de retour !</span><br>
                            Vous vous êtes bien amusé ?<br>
                            Vous voulez participer à d’autres à randonnées avec vos amis ? <br> <br>

                            C’est le moment de découvrir ce que tes amis<br>
                            ont fait durant ton absence!</div>
                        <a href="/signin"><button type="submit">Connexion</button></a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("partials/footer") -%>