<%- include("partials/header") -%>

<main class="mando">

    <div class="container d-flex justify-content-center align-items-center">
        <div class="box-error d-flex justify-content-center align-items-center">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-6"><img src="/img/friendAdded.jpg" alt="ami ajouté"></div>
                <div class="col-6 ">
                    <p>Votre ami skieur <br>a été ajouté à votre liste ! </p>
                </div>
           
                    <div class="col-12 mt-3 p-2 d-flex justify-content-center align-items-center">
                        <a href="/searchFriends">Retour vers la page de recherche</a>
                    </div>
               
            </div>

        </div>
    </div>
</main>

<%- include("partials/footer") -%>