<%- include("partials/header-index") -%>

    <main class="bobaFett mando">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="logo-container d-flex justify-content-center align-items-start">
                <img src="/img/logo.png" alt="Logo">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="presentation">
                        Tu as de la misère à trouver de la poudreuse qui n’a pas été tapée par un millier de skieurs de
                        randonnée ?<br>
                        <span>Tu es au bon endroit !</span><br>
                        Vient découvrir les meilleurs spots et fait découvrir tes secrets bien gardés... un partage à la
                        fois !
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <div class="box-connexion d-flex flex-column align-items-center justify-content-evenly">
                        <img src="/img/ico-1.png" alt="icon" class="m-5">
                        <div><span>Bienvenue !</span><br>
                            Envie de découvrir de nouveaux spots de ski de randonnée ?<br>
                            Ou de partager les vôtres ?<br> <br>

                            Rejoint-nous!</div>
                        <span><a href="/signup"><button type="submit" class="m-3">S'inscrire</button></a>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <div class="box-connexion d-flex flex-column align-items-center justify-content-evenly">
                        <img src="/img/ico-2.png" alt="icon" class="m-5">
                        <div><span>Vous êtes de retour !</span><br>
                            Vous vous êtes bien amusé ?<br>
                            Vous voulez participer à d’autres à randonnées avec vos amis ? <br> <br>

                            C’est le moment de découvrir ce que tes amis<br>
                            ont fait durant ton absence!</div>
                        <a href="/signin"><button type="submit" class="m-3">Connexion</button></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("partials/footer") -%>